
#form 
  width: 800px
  margin: 0 auto
  .form-inputs 
    width: 100%
    border-radius: 0.3rem
    border: 1px solid #dedede
    padding: 0.5rem

#myAlert
  width: 30%
  position: absolute
  top: 10px
  right: 10px 



